<span>
  <a href="https://github.com/samchristywork">
    <span class="social">include{images/github.svg}</span>
  </a>
  <a href="https://mastodon.social/@access_denied">
    <span class="social">include{images/mastodon.svg}</span>
  </a>
  <a href="https://www.reddit.com/user/PsychicPredecessor">
    <span class="social">include{images/reddit.svg}</span>
  </a>
  <a href="https://twitter.com/schristy189">
    <span class="social">include{images/twitter.svg}</span>
  </a>
</span>
<span>
  © 2024 Sam Ch– Whatever dude, copyright isn't real anymore. Not for regular
  people.
</span>
