.bubble {
  position: absolute;
  right: 0.5rem;
  top: 4.5rem;
  background-color: var(--accent-color);
  width: 18rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  color: var(--text-on-accent-color);
  border: 1px solid var(--text-on-accent-color);
  cursor: pointer;
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

.bubble div:nth-child(1) {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

.bubble div:nth-child(2) {
  font-weight: bold;
}

.bubble:hover {
  background-color: var(--accent-color-hover);
}
