.header {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  user-select: none;
}

.header > nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.header > nav > :nth-child(1) > a > :nth-child(1) {
  font-weight: bold;
}

.header > nav > :nth-child(1) > a > :nth-child(1) > span {
  color: var(--accent-color);
}

.header > nav > span > * {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.header > nav > span > a {
  color: var(--text-on-primary-color);
  text-decoration: none;
}

.header > nav > span > a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.header > nav > :last-child {
  text-align: right;
  width: 100%;
}

.header > nav > :last-child > :first-child {
  color: var(--accent-color);
  font-weight: bold;
}

.header > nav > :last-child > :nth-child(2) {
  color: var(--accent-color);
  font-weight: bold;
}

.header > nav > :last-child > :last-child {
  color: var(--text-on-primary-color);
  opacity: 0.7;
}

@media (max-width: 800px) {
  .header > nav > :last-child {
    display: none;
  }
  .header > nav a {
    display: block;
    text-align: center;
  }
  .header > nav > span :nth-child(2) {
    display: none;
  }
}
